{% extends 'base.html' %}

{% block title %}등록{% endblock %}

{% block body %}


<div class="page-account-list" role="page">
    <div class="page-header">
        <h1>
            <a href="{{ base_url }}/account-list">
                계좌 설정
            </a>
            <small>{{ name }}</small>
        </h1>
    </div>
    {% if account_balance > 0 %}
        <div class="panel panel-{{ account_status }}">
            <div class="panel-heading">
                <h3 class="panel-title">
                    잔액
                    <span class="pull-right">{{ account_balance }}원</span>
                </h3>
            </div>
        </div>
    {% endif %}
    <form role="form" class="js-account-update-form">
        <input name="id" type="hidden" value="{{ account.id }}"/>
        <div class="form-group">
            <label for="name">계좌 이름</label>
            <input required class="form-control" type="text" name="name" id="name" value="{{ account.name }}"/>
        </div>
        <div class="form-group">
            <label>
                계좌 소유자
            </label>
            <div class="radio">
                <label>
                    <input required type="radio" name="owner" id="owner_mine" value="mine" {% if account.owner == "mine" %} checked {% endif %} />
                    내 것
                </label>
            </div>
            <div class="radio">
                <label>
                    <input required type="radio" name="owner" id="owner_others" value="others"
                            {% if account.owner == "others" %} checked {% endif %} />
                    남의 것
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>
                잔액에 포함할 지
            </label>
            <div class="radio">
                <label>
                    <input required type="radio" name="in_balance" id="in_balance_yes" value="yes"
                            {% if in_balance %} checked {% endif %} />
                    포함
                </label>
            </div>
            <div class="radio">
                <label>
                    <input required type="radio" name="in_balance" id="in_balance_no" value="no"
                            {% if not in_balance %} checked {% endif %}/>
                    포함 안 함
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>
                저금인지
            </label>
            <div class="radio">
                <label>
                    <input required type="radio" name="whether_savings" id="whether_savings_yes" value="yes"
                    {% if whether_savings %} checked {% endif %} />
                    저금
                </label>
            </div>
            <div class="radio">
                <label>
                    <input required type="radio" name="whether_savings" id="whether_savings_no" value="no"
                    {% if not whether_savings %} checked {% endif %}/>
                    저금 아님
                </label>
            </div>
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="저장"/>
    </form>

    <hr/>

    <h2>일괄 이동</h2>
    <p>이 계좌의 아이템을 모두 다른 계좌로 이동합니다.</p>

    <form role="form" class="js-move-to-account-form">
        <input name="id" type="hidden" value="{{ account.id }}"/>
        <div class="form-group">
            <label for="account">이동 대상 계좌</label>
            <input class="form-control js-filter-candidates js-move-to-account" type="text" name="account" id="account"/>
            <div class="auto-complete-box clearfix" data-key="account"></div>
        </div>
        <p>
            <input class="btn btn-block btn-default" type="submit" value="이동"/>
        </p>
    </form>

    <hr/>

    <h2 class="text-right">삭제</h2>
    <p class="pull-right">
        <a class="btn btn-danger js-account-delete" href="#"
                data-id="<%= account.getId() %>">
            <span class="glyphicon glyphicon-remove"></span>
            '{{ account.name }}' 계좌 삭제
        </a>
    </p>
</div>

{% endblock %}