<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Mytory Moneybook</title>
    <link rel="stylesheet" href="assets/production.css"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".js-navbar">
                <span class="sr-only">메뉴 얼기</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ base_url }}">M</a>
        </div>

        <div class="collapse navbar-collapse js-navbar">
            <ul class="nav navbar-nav">
                <li class="js-내역"><a href="{{ base_url }}/list">내역</a></li>
                <li class="js-등록"><a href="{{ base_url }}/register">등록</a></li>
                <li class="js-설정">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        설정
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ base_url }}/account">계좌</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}

</div>

<script src="assets/production.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>