{% extends 'base.html' %}

{% block title %}내역 {{date}}{% endblock %}

{% block body %}
<h2>{{date}}</h2>
<p>
    <a href="{{ base_url }}/list?date={{yesterday}}">
        <i class="glyphicon glyphicon-arrow-left"></i>
        {{yesterday}}
    </a>
    |
    <a href="{{ base_url }}/list?date={{tomorrow}}">
        {{tomorrow}}
        <i class="glyphicon glyphicon-arrow-right"></i>
    </a>

</p>
<ul>
    {% for obj in objs %}
    <li>
        {{ obj.type }}
        {{ obj.date }}
        {{ obj.memo }}
        {{ obj.category }}
        {{ obj.account }}
        {{ obj.amount }}
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block script %}
<script>
    $('.js-내역').addClass('active');
</script>
{% endblock %}


