{% extends 'base.html' %}

{% block title %}등록{% endblock %}

{% block body %}

<form role="form" method="post">
    <div class="form-group">
        <label>타입</label>

        <div class="radio">
            <label for="type_withdrawal">
                <input value="지출" type="radio" name="type" id="type_withdrawal" checked/>
                지출
            </label>
            <label for="type_deposit">
                <input value="수입" type="radio" name="type" id="type_deposit"/>
                수입
            </label>
            <label for="type_transfer">
                <input value="이체" type="radio" name="type" id="type_transfer"/>
                이체
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="category">분류</label>
        <input name="category" type="text" class="form-control" id="category">
    </div>
    <div class="form-group">
        <label for="amount">금액</label>
        <input name="amount" type="tel" class="form-control" id="amount">
    </div>
    <div class="form-group">
        <label for="memo">내역</label>
        <input name="memo" type="text" class="form-control" id="memo">
    </div>
    <div class="form-group">
        <label for="date">날짜</label>
        <input name="date" type="date" class="form-control" id="date">
    </div>
    <div class="form-group">
        <label for="date">계좌</label>
        <input name="account" type="account" class="form-control" id="account">
    </div>
    <button type="submit" class="btn btn-primary btn-block">등록</button>
</form>
{% endblock %}

{% block script %}
<script>
    $('.js-등록').addClass('active');
</script>
{% endblock %}

